body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    width: 1191px;
    margin: 0 auto;  
    min-height: 1200px ;
    background-image: url('../Padding-Marges/afb/ironmaiden.jpg');
}